<?xml version="1.0"?>
<robot name="acps_bot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find dynamixel_arm)/urdf/acps_bot.xacro" />
  <xacro:include filename="$(find dynamixel_arm)/urdf/acps_bot.ros2_control_gazebo.xacro" />

  <!-- <link name="world"/> -->

  <xacro:acps_bot/>


  <xacro:acps_bot_ros2_control_gazebo name="acps_bot_ros2_control_gazebo" />
</robot>
